html {
    font-size: 100%;
}

body {
    padding: 0;
    margin: 10px; /*to fix ios page movement */
    left:-10px; /* same */
    top:-10px;/* same */
    overflow: hidden;
    font-family: 'Tinos';
    width: 100vw;
    height: 100vh;
    position:fixed;
}

h1, h2, h3, h4, h5 {
    font-family: 'Caveat Brush';
}

#title_imbit {
	position: absolute;
    z-index: 1;
    font-family: 'Caveat Brush';
    font-size: 50pt;
    text-shadow: 0px 0px 20px black;
}

.flipcard {
    position: absolute;
    opacity: 0;
    margin: 0;
	border: none;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    cursor: pointer;
}

.gruppe > .vorlesung {
	opacity: 1 !important;
	position: static !important;
	transform: translate(0,0) !important;
	margin-top: 5px;
}

.flipcard.IMBIT_Weg{
	width: 175pt !important;
    height: 100pt !important;
    background-color: var(--color-bordeaux);
    line-height: 100pt; /* must be equal to height for vertical centering */
    border-radius: 1em;
    font-size: 150%;
}

.flipcard.IMBIT_Weg .face {
	background-color: var(--color-bordeaux) !important;
	border-radius: 1em;
}

.flipcard:not(.flipped) {
    z-index: 2;
}

.flipcard:not(.flipped) .back{
	overflow: hidden;
    opacity: 0;
    transition: opacity 0s ease 1s;
}

.flipcard.flipped .face {
	padding: 1em;
    border-radius: 1em;
    height: calc(100% - 2em);
    width: calc(100% - 2em);
}

.flipcard.flipped {
    width: 100% !important;
    height: 100% !important;
    border-radius: 1em;
    left: 0 !important;
    top: 0 !important;
    transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
    z-index: 4;
    cursor: auto;
}

.flipcard .face {
    text-align: center;
    position: absolute;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    overflow: hidden;
}

.flipcard .face *, .flipcard .face {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipcard .front {
	font-family: 'Caveat Brush';
    letter-spacing: -0.1px;
    line-height: 0.8em;
    width: inherit;
    height: inherit;
    line-height: inherit;
}

.flipcard .front:hover{
    font-weight: bold;
}


.flipcard .back {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    overflow: auto;
    line-height: normal;
    text-align: justify;
}

#site.a .flipcard .back {
	background-color: var(--color-gray) !important;
    color: black !important;
}

img.thumb {
	margin-right: 1.5em;
	margin-bottom: 1.5em;
    max-height: 35vh;
    max-width: 35vh;
    float: left;
}

.list{
    display: flex;
    flex-flow: row wrap;
    float: left;
    width: 100%;
}

.list img.thumbnail {
    max-width: 248px !important;
    max-height: 100px !important;
}

.list > div {
    text-align: left;
    flex-grow: 1;
    height: 100px;
    font-size: 12pt;
    margin: 10px;
    width: 500px;
}

.list > div > div  > h2, .list > div > div > p {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.list > div > a {
    width: 248px;
    display: flex;
    justify-content: center;
	float: left;
}

.learning > img.thumbnail, .learning > a > img.thumbnail {
	max-width: 350px;
	max-height: 350px;
}

.contentWrapper img.thumbnail {
	max-width: 250px !important;
	max-height: 250px !important;
}

.contentWrapper > .learning {
	margin-top: 50px;
}

.contentWrapper > .learning a {
	color:inherit;
    text-decoration:none;
}

.contentWrapper > .learning > a, .contentWrapper > .learning > img {
	float: left;
	margin-right: 5%;
}

.contentWrapper > .learning p {
	overflow: hidden;
	font-family: 'Tinos';
	font-size: 14pt;
}

.contentWrapper > .learning > div > a:nth-child(1) {
    margin-right: 5%;
}

#overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
}

#Impressum {
    position: absolute;
    display: none;
    background-color: inherit;
    padding: 1em;
    z-index: 1002;
}

#footer {
    width: calc(100vw - 50px);
    left: 0px;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1003;
}

#footer{
    bottom: 0px;
    padding: 25px;
}

#backlayer {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: none;
    opacity: 1;
    transform: translate(-50%, -50%);
}

/*enables line breaks out of XML using &#13;&#10; as Carriage Return Line Feed*/
#grid > .flipcard {
	white-space: pre-line;
}

/**
    Start Animation
 */
#site{
	width: inherit;
	height: inherit;
}

#site > * {
    opacity: 0;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}

.axis {
    border: 0;
}

.axis.x {
    height: 0px;
    display: table-cell;
    vertical-align: middle;
}

.axis.y {
    width: 0px;
}

#animation_xaxis_left_line_left{
    display: inline-block;
    width:15px;
    border-bottom:solid;
    margin-bottom:5%;
}
#animation_xaxis_left_line_right{
    display: inline-block;
    width:15px;
    border-bottom:solid;
    margin-bottom:5%;
}
#animation_xaxis_right_line_left{
    display: inline-block;
    width:15px;
    border-bottom:solid;
    margin-bottom:5%;
}
#animation_xaxis_right_line_right{
    display: inline-block;
    width:15px;
    border-bottom:solid;
    margin-bottom:5%;
}

#animation_yaxis_top_line_top {
    transform: rotate(90deg);
    border-left:solid;
    margin-left:5%;
}
#animation_yaxis_top_line_bottom {
    transform: rotate(90deg);
    border-left:solid;
    margin-left:5%;
}
#animation_yaxis_bottom_line_top {
    transform: rotate(90deg);
    border-left:solid;
    margin-left:5%;
}
#animation_yaxis_bottom_line_bottom {
    transform: rotate(90deg);
    border-left:solid;
    margin-left:5%;
}

#animation_xaxis_left {
    float: left;
    transform: translate(-50%, -50%);
}

#animation_xaxis_right {
    float: right;
    transform: translate(50%, -50%);
}

#animation_yaxis_top {
    top: 0px;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

#animation_yaxis_bottom {
    bottom: 0px;
    position: absolute;
    transform: translate(-50%, 50%);
    text-align:center;
}

#animation_welcome, #title_imbit{
	transform: none !important;
}

#animation_l, #animation_im, #animation_b, #animation_it, #animation_mg, #animation_welcome {
    z-index: 1;
    font-family: 'Caveat Brush';
    font-size: 50pt;
    text-shadow: 0px 0px 20px black;
}
#animation_l{
    left: 75vw !important;
    top: 75vh !important;
}

#animation_im{
    left: 25vw !important;
    top: 25vh !important;
}

#animation_b{
    left: 75vw !important;
    top: 25vh !important;
}

#animation_it{
    left: 25vw !important;
    top: 75vh !important;
}

#animation_mg{
    left: 50vw !important;
    top: 50vh !important;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    body {
        position: absolute;
        left: -10px;
        top: -32px;
    }
}

.background_image{
	position: absolute;
    trasform: translateZ(-10px);
}

/*#storer{
	width: 15%;
	top:15px;
	right:10px;
}*/

#start_bg_ltr{
    top: 50%;
    width: 50vw;
    transform: translateY(-50%);
    max-height: 66vh;
}

#start_bg_rtl{
	bottom:0px;
	right: 0px;
	width: initial;
	max-width: 75vw;
    transform: rotateX(45deg);

}

#dl_bg_ltr{
	height: 25%;
	transform: rotateY(180deg);
}

.menubar {
	/*	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
  	position: -ms-sticky;
  	position: -o-sticky;
  	*/
	margin: auto;
}

.menuSubject {
	padding: 0.2em;
	display: inline-block;
	margin-left: 60px !important;
	overflow: auto !important;
	cursor: pointer;
}

.menuSubject.active {
	font-weight: bold;
	background-color: grey;
    border-radius: 0.3em;
}

.menuSubject:hover {
	background-color: grey;
    border-radius: 0.3em;
}

.scroll {
	position: sticky;
	position: -webkit-sticky;
	position: -moz-sticky;
  	position: -ms-sticky;
  	position: -o-sticky;
    top: 50%;
    margin-left: 97%;
    z-index: 5;
}

.scroll_item {
    border: 3px solid #FFF;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 10px;
}
