html{
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: grid;
  justify-content: center;

/* grid-definition */
  grid-template-columns: 100%;
  grid-template-rows: 1fr 50px;
  grid-template-areas: "content"
                       "launchbar";
}

.launchbar{
  /* style for launchbar */
  grid-area: launchbar;
}

.contentcurriculum {
  /* style for content */
  display: grid;
  height: 100%;

  /* influence the 'padding' of content to each side
  launchbar is not affected by this
  width + margin-left + margin-right = 100%*/
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

  /* potential nested grid inside item content */
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "title title title"
      "content-1 content-2 content-3"
      "content-4 content-5 content-6";
}

/* inner grid classes */
.title {
  grid-area: title;
  border: 1px solid black;
}

.modul{
  color:black;
  font-family: 'Caveat Brush';
  font-size:3vmax;
}

.modul:hover{
    cursor:pointer;
    color:#991B33;
    font-family: 'Caveat Brush';
    font-size:4vmax;
}
.content-1 {
  grid-area: content-1;
  border: 1px solid black;
  text-align: right;
}

.content-2 {
  grid-area: content-2;
  border: 1px solid black;
  text-align: center;
}

.content-3 {
  grid-area: content-3;
  border: 1px solid black;
  font-size:3vmax;
}


.content-4 {
  grid-area: content-4;
  border: 1px solid black;
}

.content-5 {
  grid-area: content-5;
  border: 1px solid black;
}

.content-6 {
  grid-area: content-6;
  border: 1px solid black;
}

.footer {
  grid-area: footer;
}
/* tentacle at top of page */
#tentacle_img_large {
  border-width:0px;
  width:auto;
  height:125%;
  position: relative;
  top: -20;
}

/* tentacle at bottom of page */
#tentacle_img_small {
  border-width:0px;
  position:relative;
  left:100px;
  top:0px;
  width:48px;
  height:48px;
}

/* title */
#titletext{
  font-weight:700;
  font-style:normal;
  font-size:4vmax;
  color:#991B33;
  font-family: 'Caveat Brush';
  position: relative;
  left: 160px;
  top: -92px;
}
