/* NEUES CSS */

html {
    font-family: "Tinos";
    font-size: 2vh;
    color: black;
}

.modul {
    font-size: 2.5em;
    color: black;
    font-family: "Caveat Brush";
    text-align: center;
}

.modul:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #991B33;
}

.gridlayout {
    display: none;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(14, 1fr);
}

.tintenfischarm {
    grid-column: 1 / 8;
    grid-row: 1 / 4;
    text-align: left;
    height: 100%;
    width: 100%;
    /* transform: rotate(-90deg) */
}

.tintenfischarm img {
    width: 25%;
    height: auto;
}

.ueberschriftenfeld {
    grid-column: 2 / 15;
    grid-row: 1 / 4;
    text-align: right;
    padding-right: 2.5%;
    list-style: none;
    font-family: "Caveat Brush";
}

.ueberschriftenfeld li:nth-child(1n) {
    font-size: 2.5em;
}

.ueberschriftenfeld li:nth-child(2n) {
    font-size: 2.1em;
}

.ueberschriftenfeld li:nth-child(3n) {
    font-size: 1.8em;
}

.ueberschriftenfeld li:hover {
    cursor: pointer;
}

.ueberschriftenfeld li:hover::before {
    content: "> ";
}

.modulbeschreibung {
    grid-column: 10 / 15;
    grid-row: 3 / 13;
    padding-right: 5%;
    color: black;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 1.4em;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    hyphens: auto;
}

.moocs {
    grid-column: 1 / 10;
    grid-row: 3 / 13;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    clear: both;
    color: black;
    font-size: 1.4em;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.moocs img {
    float: left;
    padding-right: 1%;
    width: 12%;
    height: auto;
}

.moocs li:nth-of-type(even) img {
    float: right;
    padding-left: 1%;
}

.moocs li {
    clear: both;
    overflow: hidden;
    margin: 0.05%
}

.moocs li a:nth-child(2n) {
    color: #991B33;
    font-family: "Caveat Brush";
    text-decoration: none;
}

.ziele li {
    display: inline;
}


/* waagrechte Listen */

.ziele li:not(:first-child):before {
    content: "- ";
}


/* allen Listeinträgen außer dem ersten wird ein Spiegelpunkt als Trennzeichen vorgestellt */

.quellen {
    list-style: none;
}


/* Quelleneinträge ohne Spiegelpunkte */

.quellen li:nth-of-type(odd) {
    list-style: none;
    background-color: #eeeeee;
}


/* Quelleneinträge werden abwechselnd grau hinterlegt*/


/* NEUES CSS ENDE */

.launchbar {
    /* style for launchbar */
    grid-area: launchbar;
    overflow: hidden;
}


/* FUTURE GRID */

.grid_layout {
    display: none;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(14, 1fr);
}


/* Grid Columns */

.grid_column_1 {
    grid-column: 2;
}

.grid_column_2 {
    grid-column: 3;
}

.grid_column_3 {
    grid-column: 4;
}

.grid_column_4 {
    grid-column: 5;
}

.grid_column_5 {
    grid-column: 6;
}

.grid_column_6 {
    grid-column: 7;
}

.grid_column_7 {
    grid-column: 8;
}

.grid_column_8 {
    grid-column: 9;
}

.grid_column_9 {
    grid-column: 10;
}

.grid_column_10 {
    grid-column: 11;
}

.grid_column_11 {
    grid-column: 12;
}

.grid_column_12 {
    grid-column: 13;
}

.grid_column_1_2 {
    grid-column: 1 / 3;
}

.grid_column_1_3 {
    grid-column: 1 / 4;
}

.grid_column_1_4 {
    grid-column: 1 / 5;
}

.grid_column_1_5 {
    grid-column: 1 / 6;
}

.grid_column_1_6 {
    grid-column: 1 / 7;
}

.grid_column_1_7 {
    grid-column: 1 / 8;
}

.grid_column_1_8 {
    grid-column: 1 / 9;
}

.grid_column_1_9 {
    grid-column: 1 / 10;
}

.grid_column_1_10 {
    grid-column: 1 / 11;
}

.grid_column_1_11 {
    grid-column: 1 / 12;
}

.grid_column_1_12 {
    grid-column: 1 / 13;
}

.grid_column_1_13 {
    grid-column: 1 / 14;
}

.grid_column_1_14 {
    grid-column: 1 / 15;
}

.grid_column_2_3 {
    grid-column: 2 / 4;
}

.grid_column_2_4 {
    grid-column: 2 / 5;
}

.grid_column_2_5 {
    grid-column: 2 / 6;
}

.grid_column_2_6 {
    grid-column: 2 / 7;
}

.grid_column_2_7 {
    grid-column: 2 / 8;
}

.grid_column_2_8 {
    grid-column: 2 / 9;
}

.grid_column_2_9 {
    grid-column: 2 / 10;
}

.grid_column_2_10 {
    grid-column: 2 / 11;
}

.grid_column_2_11 {
    grid-column: 2 / 12;
}

.grid_column_2_12 {
    grid-column: 2 / 13;
}

.grid_column_2_13 {
    grid-column: 2 / 14;
}

.grid_column_2_14 {
    grid-column: 2 / 15;
}

.grid_column_3_4 {
    grid-column: 3 / 5;
}

.grid_column_3_5 {
    grid-column: 3 / 6;
}

.grid_column_3_6 {
    grid-column: 3 / 7;
}

.grid_column_3_7 {
    grid-column: 3 / 8;
}

.grid_column_3_8 {
    grid-column: 3 / 9;
}

.grid_column_3_9 {
    grid-column: 3 / 10;
}

.grid_column_3_10 {
    grid-column: 3 / 11;
}

.grid_column_3_11 {
    grid-column: 3 / 12;
}

.grid_column_3_12 {
    grid-column: 3 / 13;
}

.grid_column_3_13 {
    grid-column: 3 / 14;
}

.grid_column_3_14 {
    grid-column: 3 / 15;
}

.grid_column_4_5 {
    grid-column: 4 / 6;
}

.grid_column_4_6 {
    grid-column: 4 / 7;
}

.grid_column_4_7 {
    grid-column: 4 / 8;
}

.grid_column_4_8 {
    grid-column: 4 / 9;
}

.grid_column_4_9 {
    grid-column: 4 / 10;
}

.grid_column_4_10 {
    grid-column: 4 / 11;
}

.grid_column_4_11 {
    grid-column: 4 / 12;
}

.grid_column_4_12 {
    grid-column: 4 / 13;
}

.grid_column_4_13 {
    grid-column: 4 / 14;
}

.grid_column_4_14 {
    grid-column: 4 / 15;
}

.grid_column_5_6 {
    grid-column: 5 / 7;
}

.grid_column_5_7 {
    grid-column: 5 / 8;
}

.grid_column_5_8 {
    grid-column: 5 / 9;
}

.grid_column_5_9 {
    grid-column: 5 / 10;
}

.grid_column_5_10 {
    grid-column: 5 / 11;
}

.grid_column_5_11 {
    grid-column: 5 / 12;
}

.grid_column_5_12 {
    grid-column: 5 / 13;
}

.grid_column_5_13 {
    grid-column: 5 / 14;
}

.grid_column_5_14 {
    grid-column: 5 / 15;
}

.grid_column_6_7 {
    grid-column: 6 / 8;
}

.grid_column_6_8 {
    grid-column: 6 / 9;
}

.grid_column_6_9 {
    grid-column: 6 / 10;
}

.grid_column_6_10 {
    grid-column: 6 / 11;
}

.grid_column_6_11 {
    grid-column: 6 / 12;
}

.grid_column_6_12 {
    grid-column: 6 / 13;
}

.grid_column_6_13 {
    grid-column: 6 / 14;
}

.grid_column_6_14 {
    grid-column: 6 / 15;
}

.grid_column_7_8 {
    grid-column: 7 / 9;
}

.grid_column_7_9 {
    grid-column: 7 / 10;
}

.grid_column_7_10 {
    grid-column: 7 / 11;
}

.grid_column_7_11 {
    grid-column: 7 / 12;
}

.grid_column_7_12 {
    grid-column: 7 / 13;
}

.grid_column_7_13 {
    grid-column: 7 / 14;
}

.grid_column_7_14 {
    grid-column: 7 / 15;
}

.grid_column_8_9 {
    grid-column: 8 / 10;
}

.grid_column_8_10 {
    grid-column: 8 / 11;
}

.grid_column_8_11 {
    grid-column: 8 / 12;
}

.grid_column_8_12 {
    grid-column: 8 / 13;
}

.grid_column_8_13 {
    grid-column: 8 / 14;
}

.grid_column_8_14 {
    grid-column: 8 / 15;
}

.grid_column_9_10 {
    grid-column: 9 / 11;
}

.grid_column_9_11 {
    grid-column: 9 / 12;
}

.grid_column_9_12 {
    grid-column: 9 / 13;
}

.grid_column_9_13 {
    grid-column: 9 / 14;
}

.grid_column_9_14 {
    grid-column: 9 / 15;
}

.grid_column_10_11 {
    grid-column: 10 / 12;
}

.grid_column_10_12 {
    grid-column: 10 / 13;
}

.grid_column_10_13 {
    grid-column: 10 / 14;
}

.grid_column_10_14 {
    grid-column: 10 / 15;
}

.grid_column_11_12 {
    grid-column: 11 / 13;
}

.grid_column_11_13 {
    grid-column: 11 / 14;
}

.grid_column_11_14 {
    grid-column: 11 / 15;
}

.grid_column_12_13 {
    grid-column: 12 / 14;
}

.grid_column_12_14 {
    grid-column: 12 / 15;
}

.grid_column_13_14 {
    grid-column: 13 / 15;
}


/* Grid Rows */

.grid_row_1 {
    grid-row: 11;
}

.grid_row_2 {
    grid-row: 2;
}

.grid_row_3 {
    grid-row: 3;
}

.grid_row_4 {
    grid-row: 4;
}

.grid_row_5 {
    grid-row: 5;
}

.grid_row_6 {
    grid-row: 6;
}

.grid_row_7 {
    grid-row: 7;
}

.grid_row_8 {
    grid-row: 8;
}

.grid_row_9 {
    grid-row: 9;
}

.grid_row_10 {
    grid-row: 10;
}

.grid_row_11 {
    grid-row: 11;
}

.grid_row_12 {
    grid-row: 12;
}

.grid_row_1_2 {
    grid-row: 1 / 3;
}

.grid_row_1_3 {
    grid-row: 1 / 4;
}

.grid_row_1_4 {
    grid-row: 1 / 5;
}

.grid_row_1_5 {
    grid-row: 1 / 6;
}

.grid_row_1_6 {
    grid-row: 1 / 7;
}

.grid_row_1_7 {
    grid-row: 1 / 8;
}

.grid_row_1_8 {
    grid-row: 1 / 9;
}

.grid_row_1_9 {
    grid-row: 1 / 10;
}

.grid_row_1_10 {
    grid-row: 1 / 11;
}

.grid_row_1_11 {
    grid-row: 1 / 12;
}

.grid_row_1_12 {
    grid-row: 1 / 13;
}

.grid_row_2_3 {
    grid-row: 2 / 4;
}

.grid_row_2_4 {
    grid-row: 2 / 5;
}

.grid_row_2_5 {
    grid-row: 2 / 6;
}

.grid_row_2_6 {
    grid-row: 2 / 7;
}

.grid_row_2_7 {
    grid-row: 2 / 8;
}

.grid_row_2_8 {
    grid-row: 2 / 9;
}

.grid_row_2_9 {
    grid-row: 2 / 10;
}

.grid_row_2_10 {
    grid-row: 2 / 11;
}

.grid_row_2_11 {
    grid-row: 2 / 12;
}

.grid_row_2_12 {
    grid-row: 2 / 13;
}

.grid_row_3_4 {
    grid-row: 3 / 5;
}

.grid_row_3_5 {
    grid-row: 3 / 6;
}

.grid_row_3_6 {
    grid-row: 3 / 7;
}

.grid_row_3_7 {
    grid-row: 3 / 8;
}

.grid_row_3_8 {
    grid-row: 3 / 9;
}

.grid_row_3_9 {
    grid-row: 3 / 10;
}

.grid_row_3_10 {
    grid-row: 3 / 11;
}

.grid_row_3_11 {
    grid-row: 3 / 12;
}

.grid_row_3_12 {
    grid-row: 3 / 13;
}

.grid_row_4_5 {
    grid-row: 4 / 6;
}

.grid_row_4_6 {
    grid-row: 4 / 7;
}

.grid_row_4_7 {
    grid-row: 4 / 8;
}

.grid_row_4_8 {
    grid-row: 4 / 9;
}

.grid_row_4_9 {
    grid-row: 4 / 10;
}

.grid_row_4_10 {
    grid-row: 4 / 11;
}

.grid_row_4_11 {
    grid-row: 4 / 12;
}

.grid_row_4_12 {
    grid-row: 4 / 13;
}

.grid_row_5_6 {
    grid-row: 5 / 7;
}

.grid_row_5_7 {
    grid-row: 5 / 8;
}

.grid_row_5_8 {
    grid-row: 5 / 9;
}

.grid_row_5_9 {
    grid-row: 5 / 10;
}

.grid_row_5_10 {
    grid-row: 5 / 11;
}

.grid_row_5_11 {
    grid-row: 5 / 12;
}

.grid_row_5_12 {
    grid-row: 5 / 13;
}

.grid_row_6_7 {
    grid-row: 6 / 8;
}

.grid_row_6_8 {
    grid-row: 6 / 9;
}

.grid_row_6_9 {
    grid-row: 6 / 10;
}

.grid_row_6_10 {
    grid-row: 6 / 11;
}

.grid_row_6_11 {
    grid-row: 6 / 12;
}

.grid_row_6_12 {
    grid-row: 6 / 13;
}

.grid_row_7_8 {
    grid-row: 7 / 9;
}

.grid_row_7_9 {
    grid-row: 7 / 10;
}

.grid_row_7_10 {
    grid-row: 7 / 11;
}

.grid_row_7_11 {
    grid-row: 7 / 12;
}

.grid_row_7_12 {
    grid-row: 7 / 13;
}

.grid_row_8_9 {
    grid-row: 8 / 10;
}

.grid_row_8_10 {
    grid-row: 8 / 11;
}

.grid_row_8_11 {
    grid-row: 8 / 12;
}

.grid_row_8_12 {
    grid-row: 8 / 13;
}

.grid_row_9_10 {
    grid-row: 9 / 11;
}

.grid_row_9_11 {
    grid-row: 9 / 12;
}

.grid_row_9_12 {
    grid-row: 9 / 13;
}

.grid_row_10_11 {
    grid-row: 10 / 12;
}

.grid_row_10_12 {
    grid-row: 10 / 13;
}

.grid_row_11_12 {
    grid-row: 11 / 13;
}
