
#container{
	position:absolute;
	width: 100vw;
	height: 100vh;
}

#content{
	width: inherit;
	height: inherit;
}

dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}
#dots{
	bottom: 1.25em;
	margin: 0 auto;
	margin-bottom:5px;
	position: absolute;
	height: auto;
	background-color: transparent !important;display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 16px;
	padding: 0;
    width: 100vw;
    justify-content: center;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 8px;
	height: 8px;
	cursor: pointer;
	background-color: transparent !important; 
	transition: width 0.3s, height 0.3s;
}


.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: var(--border);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}
.dotstyle-fillup li a {
	overflow: hidden;
	background-color: var(--border); /* ToDo: move to variable */
	transition: opacity 0.3s;
    opacity: 0.2;
    mix-blend-mode: color-dodge;
    border: 1px solid var(--border);
}

.dotstyle-fillup li.current a {
	opacity: 1;
}