html {
    font-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
	background-color: #990133; /*ToDo: sollte als var gesetzt werden*/
	color: white;
	font-family: 'Tinos';
	
	background-image: url('../img/armStern.png');
    background-repeat: no-repeat;
    background-position: 15px -20px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Caveat Brush';
	text-align: center;
	font-size: 35pt;
    text-shadow: 0px 0px 20px black; 
	-webkit-margin-before: 0.33em;
    -webkit-margin-after: 0.33em;
}

button:hover {
	cursor:pointer;
}

iframe{
	min-width: 70%;
    max-width: 100%;
    max-height: 60%;
    min-height: 50%;
	margin-bottom: 20px;
}

.slidecard{
	display: none;
}
.slidecard.active{
	height: 80vh;
	width: 80vw;
	background-color: transparent;
	margin: auto;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
    flex-flow: column nowrap;
}

#title{
	margin-bottom: 25px;
	margin-top: 25px;
}

.beschreibung{
	 text-align: justify;
	 width: 95%;
}


#navContent{
margin:auto;
width:80%;
height:100%;
position:relative;
overflow:hidden;
}

#game1{
margin:auto;
width:100%;
height:400px;
right:0px;
/*position:absolute;*/
}

#game2{
margin:auto;
width:100%;
height:400px;
right:-100%;
/*position:absolute;*/
}
.buttonToQuiz1, .buttonToQuiz2, .buttonToQuiz3, .buttonToQuiz4, .buttonToQuiz5 , .buttonToQuiz6{
	border:2px solid #ccc;
	background-color: rgb(153,27,51);
	color: white;
	width:320px;
	height:75px;
	margin: 0.35%;
	display:inline-block;
	margin-top: 3%;


}

.buttonToQuiz1:hover, .buttonToQuiz2:hover, .buttonToQuiz3:hover, .buttonToQuiz4:hover, .buttonToQuiz5:hover{
border:#e53f5f solid 2px;
color:#e53f5f;
}

#gameDescription {

font-size:18px;

}




.questionText{
font-size:27px;
color:#FFF;
}

.option{width:400px;
height:30px;
margin:15px;
font-size:18px;
color:#FFFFFF;
padding:2px;
padding-left:10px;
border: 2px solid white;
cursor:pointer;
background-color: #6c132e;
}

.option:hover{
border:#e53f5f solid 2px;
color:#e53f5f;
}

.option:focus{
border:#e53f5f solid 2px;
color:#e53f5f;
}


#topbar{
/*height:20%;*/
margin:auto;
margin-top:25px;
color:#FFF;
font-size:30px;
/*font-family:Arial, Helvetica, sans-serif;*/
width:80%;
border-bottom:solid white 1px;
}

.spacer{
height:10px;
}

.feedback1{
width:150px;
padding:5px;
font-size:30px;
color:#FFFFCC;
background-color: #85ba1c;
/*font-family:Arial, Helvetica, sans-serif;*/
text-align:center;
float: left;
}

.feedback2{
width:150px;
padding:5px;
font-size:30px;
color:#FFFFCC;
background-color:#e53f5f;
/*font-family:Arial, Helvetica, sans-serif;*/
text-align:center;
float: left;
}

.next{
width:150px;
padding:5px;
font-size:30px;
color:#FFFFCC;
background-color:#6c132e;
/*font-family:Arial, Helvetica, sans-serif;*/
border:white solid 2px;
text-align:center;
float: right;
}

.backToQuizOverview{
width:150px;
padding:5px;
font-size:20px;
color:#FFFFCC;
background-color:#6c132e;
/*font-family:Arial, Helvetica, sans-serif;*/
border:white solid 2px;
text-align:center;
float: right;
}

.backToQuizOverview:hover{
color:#6c132e;
background-color:#FFFFCC;
}

.next:hover{
color:#6c132e;
background-color:#FFFFCC;
}

@media screen and (max-width:800px) {
	#topbar{margin-left:1%;margin-right:1%;	width:96%;}
	#navContent{margin:1%;	width:98%;}
	#game1{margin:1%;	width:98%;}
	#game2{margin:1%;	width:98%;}


}
@media screen and (max-width:460px) {
	.option{width:80%;margin:5%;}
}

/*Brittas Teil*/

* {
    box-sizing: border-box;
	font-size:20px;



}
div {
  box-sizing(border-box);

}

}
h2 {
    font-size:20px;
    font-weight:bold;
    margin:5px;

}
p{
	font-size: 20px;


}
#button{
	text-align: center;
	margin-top: 10px;
}
.button {

    background-color: rgb(153,27,51);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: 'Caveat Brush';
	font-size:20px;

}

.nextButton {

    background-color: rgb(153,27,51);
    border: none;
    color: white;
    padding: 15px 32px;
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	/*font-family: 'Caveat Brush';*/
	font-size:20px;

}
.container{
	display: flex;
   justify-content: space-between;

}
.button:hover {
    background-color: rgb(108, 19, 46);
    color: white;

}

.nextButton:hover {
    background-color: rgb(108, 19, 46);
    color: white;

}
#source{
	 border:1px solid #ccc;
	 width:30%;

	 height:auto;
	 float:left;
	 /*margin-left:75px;*/
}
#target1{
	 border:1px solid #ccc;
	 width:30%;
	 min-height:200px;
	 /*height:auto;*/
	 float:left;

}
#target2{
	 border:1px solid #ccc;
	 width:30%;
	 min-height:200px;
	 /*height:auto;*/
	 float:left;

}

#target3{
	 border:1px solid #ccc;
	 width:30%;
	 min-height:200px;
	 /*height:auto;*/
	 float:left;

}
#target4{
	 border:1px solid #ccc;
	 width:30%;
	 min-height:200px;
	 /*height:auto;*/
	 float:left;

}

.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}
.drag{
			/*width:25%;*/
			/*box-sizing: border-box;*/
			white-space:nowrap;
			/*height:10%;*/
			padding:1.5%;
			font-size: 16px;
			text-align: center;
			vertical-align: center;
			margin:5px;
			border:2px solid #ccc;
			background-color: rgb(153,27,51);
			color: white;

		}

#gameTitle	{
			margin-bottom: 12px;
		}

#gameDescription	{
					margin-bottom: 12px;
				}
.dp{
			opacity:0.8;
			filter:alpha(opacity=60);
		}
.over{
			background:rgb(108, 19, 46);
		}

		#header {
			height: 20%;
			text-align: center;
		}

		#container1 {
			height: 40% ;
			display: flex;
		}

		#left {
			width: 40%;
			margin: 2.5%;

		}

		#left img{
			height: 100%;
			width: 100%;
			bottom: 5%;
			max-height: 250px;
			max-width: 250px;
			display: block;
			margin-left: auto;
			margin-right: auto

		}

		#right {
			width: 60%;
			margin: 2.5%;
		}

		#container2 {
			height: 40% ;
			text-align:center;

		}
