.expstickybar{
position:fixed;
color: black;
right:0; /*horizontally center bar in window*/
left:0; /*horizontally center bar in window*/
visibility:hidden;
background: transparent;
z-index: 10000;
transform: translateZ(1000px);
width:auto; /*set width of bar to width of entire window*/
font-weight:bold;
}

.expstickybar figure {
	display: table-cell; 
	padding: 0 0%; 
	text-align: center;
}

#rb_toggle{
	/*background-color: var(--border);*/
	height: 60px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	position: relative;
	float:left;
	left: 1%;
}
.content{
	background-color: var(--border);
	display: table; 
	width: 100%; 
	left: auto; 
	right: auto;	
	vertical-align: middle;
}

.content img{
	width: 8vw;
	height: auto; 
	padding-top: 7%;
	padding-bottom: 7%;
}
