
/* vorlaeufiger Style, in Stylesheets uebernehmen wenn dieser Vorschlag angenommen*/

#header form > *, #header form > *:focus{
    float: right !important;
}
#header form > button {
    width: 20px !important;
}
#header form > input {
    width: 10vw !important;
}