html, body {
	box-sizing: border-box;
	font-family: 'Tinos';	
	color: var(--text);
}

#title{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
}

#title a {
    text-decoration: none;
    color: var(--text);
}

.upper{
	text-transform: uppercase;
}



