html {
	box-sizing: border-box;
	font-family: 'Tinos';
	color: var(--text);
}

body {
	box-sizing: border-box;
	font-family: 'Tinos';
	color: var(--text);

	/* top level grid */
  display: grid;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 100%;
  grid-template-areas: "content"
                        "launchbar";
}

#title a {
    text-decoration: none;
    color: var(--text);
}

.upper{
	text-transform: uppercase;
}

.IDEAS{
	font-size: 1.1153846153846153846153846153846em;
}

.container{
	height: 100%;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	font-family: "Caveat Brush";
	color: #991B33;
	font-size: 5em;
}

#start_bg_ltr{
    top: 40%;
    width: 50vw;
    transform: translateY(-50%);
    max-height: 66vh;
	z-index:-1;
}

#start_bg_rtl{
	bottom: 0px;
	right: 0px;
	width: initial;
	max-width: 75vw;
    transform: rotateX(45deg);
}
#arrowRight{
	top: 50vh;
	right: 1%;
	width: 4vw;
	height: auto;
	position: absolute;
}
#arrowLeft{
	top: 50vh;
	left: 1%;
	width: 4vw;
	height: auto;
	position: absolute;
}
