html{
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  display: grid;
  grid-template-rows: 90px 1fr 400px 400px 400px 380px 460px 490px 440px 450px 400px;
  grid-template-columns:5% 25% 70%;
  grid-template-areas:
              "placeholder1 badgeTitle emptySpace1"
              "placeholder2 empty1 badgeCriteriaGeneral"
              "placeholder3 badgeImageAUS badgeCriteriaAUS"
              "placeholder4 badgeImageBRA badgeCriteriaBRA"
              "placeholder5 badgeImageCHN badgeCriteriaCHN"
              "placeholder6 badgeImageESP badgeCriteriaESP"
              "placeholder7 badgeImageGER badgeCriteriaGER"
              "placeholder8 badgeImageIND badgeCriteriaIND"
              "placeholder9 badgeImageSWE badgeCriteriaSWE"
              "placeholder10 badgeImageTUR badgeCriteriaTUR"
              "placeholder11 badgeImageUSA badgeCriteriaUSA";
}

.badgeTitle{
  grid-area: badgeTitle;
  text-align: left;
  align-self: end;
}

.badgeImageAUS{
  grid-area: badgeImageAUS;
}

.badgeImageBRA{
  grid-area: badgeImageBRA;
}

.badgeImageCHN{
  grid-area: badgeImageCHN;
}

.badgeImageESP{
  grid-area: badgeImageESP;
}

.badgeImageGER{
  grid-area: badgeImageGER;
}

.badgeImageIND{
  grid-area: badgeImageIND;
}

.badgeImageSWE{
  grid-area: badgeImageSWE;
}

.badgeImageTUR{
  grid-area: badgeImageTUR;
}

.badgeImageUSA{
  grid-area: badgeImageUSA;
}

.badgeCriteriaGeneral{
  grid-area: badgeCriteriaGeneral;
  text-align: left;
}

.badgeCriteriaAUS{
  grid-area: badgeCriteriaAUS;
  text-align: left;
}

.badgeCriteriaBRA{
  grid-area: badgeCriteriaBRA;
  text-align: left;
}

.badgeCriteriaCHN{
  grid-area: badgeCriteriaCHN;
  text-align: left;
}

.badgeCriteriaESP{
  grid-area: badgeCriteriaESP;
  text-align: left;
}

.badgeCriteriaGER{
  grid-area: badgeCriteriaGER;
  text-align: left;
}

.badgeCriteriaIND{
  grid-area: badgeCriteriaIND;
  text-align: left;
}

.badgeCriteriaSWE{
  grid-area: badgeCriteriaSWE;
  text-align: left;
}

.badgeCriteriaTUR{
  grid-area: badgeCriteriaTUR;
  text-align: left;
}

.badgeCriteriaUSA{
  grid-area: badgeCriteriaUSA;
  text-align: left;
}
