* {
    box-sizing: border-box;
	font-family: 'Caveat Brush';
	font-size:20px;
	


}
div {
  @include box-sizing(border-box);

}
body {
    /*font-family:verdana,helvetica,arial,sans-serif;*/
    padding:20px;
    font-size:20px;
    margin:0;
	background-color: rgb(148,148,148);

	
}
}
h2 {
    font-size:20px;
    font-weight:bold;
    margin:5px;

}
p{
	font-size: 20px;

	
}
#button{
	text-align: center;
	margin-top: 10px;
}
.button {

    background-color: rgb(153,27,51);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: 'Caveat Brush';
	font-size:20px;
	
}
.container{
	display: flex;
   justify-content: space-between;
   
}
.button:hover {
    background-color: rgb(108, 19, 46);
    color: white;
	
}
#source{
	 border:1px solid #ccc;
	 width:30%;

	 height:auto;
	 float:left;
	 /*margin-left:75px;*/
}
#target1{
	 border:1px solid #ccc;
	 width:30%;
	 height:400px;
	 float:left;
	 
}
#target2{
	 border:1px solid #ccc;
	 width:30%;
	 height:400px;
	 float:left;
	 
}

.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}
.drag{
			/*width:25%;*/
			/*box-sizing: border-box;*/
			white-space:nowrap;
			/*height:10%;*/
			padding:1.5%;
			text-align: center;
			vertical-align: center;
			margin:5px;
			border:2px solid #ccc;
			background-color: rgb(153,27,51);
			color: white;

		}
.dp{
			opacity:0.8;
			filter:alpha(opacity=60);
		}
.over{
			background:rgb(108, 19, 46);
		}
