body{
	background: #991B33;
}

.ksystem{
	margin-top: 3%;
	width: 100%;
	height: auto; 
}


.expstickybar{
position:fixed;
color: black;
right:0; /*horizontally center bar in window*/
left:0; /*horizontally center bar in window*/
visibility:hidden;
background: transparent;
z-index: 10000;
width:auto; /*set width of bar to width of entire window*/
font-weight:bold;
}

.expstickybar figure {
	display: table-cell; 
	padding: 0 0%; 
	text-align: center;
}

#rb_toggle{
	width: 48; 
	position: relative;
	float:left;
	left: 1%;
}
.content{
	background-color: rgba(148, 148, 148, 0.8)!important;
	background: #949494 !important;
	display: table; 
	width: 100%; 
	left: auto; 
	right: auto;	
	vertical-align: middle;
}

.content img{
	width: 10vw;
	height: auto; 
	padding-top: 5%;
}

.expstickybar a{
	color: #6C132E;
}
