:root{
    --color-pink: rgb(229, 63, 95);
    --color-bordeaux: rgb(153, 27, 51);
    --color-dark-bordeaux: rgb(108, 19, 46);
    --color-gray: rgb(148, 148, 148);
    --color-green: rgb(133,186, 28);
    --color-yellow: rgb(205, 145, 25);

    --background: var(--color-gray);
    --background-highlight: var(--color-dark-bordeaux);
    --text: white;
    --link: var(--color-gray);
    --link-visited: var(--color-green);
    --border: var(--color-gray);

}

body {
    font-family: 'Caveat Brush';
    background-color: var(--background);
    color: var(--text);
    background-image: url('../img/brillainIDEAS_UX_20170227_Oktopus-Kopf_Arme.png');
    background-repeat: no-repeat;
    background-size: cover;
}